.contactcard {
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: flex-start; */
    padding: 1.86rem;
    background: #F7ECDC;
    box-shadow: 0px 38.857px 106.764px rgba(0, 0, 0, 0.0416191), 0px 20.7748px 68.0627px rgba(0, 0, 0, 0.0298834), 0px 11.6462px 44.2206px rgba(0, 0, 0, 0.0210525), 0px 6.1852px 27.0968px rgba(0, 0, 0, 0.0136632), 0px 2.5738px 13.1048px rgba(0, 0, 0, 0.00703801);
    border-radius: 14.8815px;
    width: 38.13rem;
    height: 24.88rem;
}